@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');


body {
  background: linear-gradient(90deg, rgba(0,212,255,1) 25%, rgba(9,9,121,1) 100%,  rgba(2,0,36,1) 35%);
  color: #fff;
  font-family: 'Lalezar', cursive;
  font-size: 1.3rem;
}

// background-image: url('/images.chillin.jpg');
